.concert-card {
  display: inline-block;
  margin: 20px;
  width: 300px;
}
.page-container {
  max-width: 1200px;
  margin: 0 auto;
}

.concert-container {
  table {
    width: 100%;
    border-collapse: collapse;
  }

  td {
    vertical-align: top;
  }

  .concert-card {
    height: 200px;
  }

  mat-card {
    border-radius: 10px;
    overflow: hidden;
  }

  .local-image {

    img {
      width: 100%;
      height: 80%;
      object-fit: cover;
      img {
        width: 100%;
        height: 200px;
        object-fit: cover;
      }
    }
  }
}



//.concert-card {
//  display: inline-block;
//  margin: 20px;
//  width: 300px; /* Adjust width as needed */
//}
//.page-container {
//  max-width: 1200px;
//  margin: 0 auto;
//}
//
//.concert-container {
//  table {
//    width: 100%;
//    border-collapse: collapse;
//  }
//
//  td {
//    vertical-align: top;
//  }
//
//  .concert-card {
//    height: 200px;
//  }
//
//  mat-card {
//    border-radius: 10px;
//    overflow: hidden;
//  }
//
//  .local-image {
//
//    img {
//      width: 100%;
//      height: 80%;
//      object-fit: cover; /* Ensure the image covers the card */
//      img {
//        width: 100%;
//        height: 200px;
//        object-fit: cover;
//      }
//    }
//  }

