.concert-card {
  display: inline-block;
  margin: 20px;
  width: 300px; /* Adjust width as needed */
}

mat-card {
  border-radius: 10px;
  overflow: hidden;
}

img {
  width: 100%;
  height: 80%;
  object-fit: cover; /* Ensure the image covers the card */
}


