
<mat-card>
  <mat-card-title>Fizetés</mat-card-title>
  <form [formGroup]="paymentForm">
  <mat-card-content>
    <mat-form-field>
      <input matInput placeholder="Kártyaszám" formControlName="cardnumber">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Lejárati dátum" >
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="CVV" >
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Kártya tulajdonos" >
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Cím" >
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Város" >
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Megye" >
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Irányítószám" >
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="cancel()">Mégse</button>
    <button mat-button color="primary" (click)="pay()">Mehet!</button>
  </mat-card-actions>
  </form>
</mat-card>

