<mat-card>
  <mat-card-title>Fizetés</mat-card-title>
  <mat-card-content>
    <mat-form-field>
      <input matInput placeholder="Kártyaszám" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Lejárati dátum" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="CVV" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Kártya tulajdonos" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Cím" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Város" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Megye" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Irányítószám" required>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="cancel()">Mégse</button>
    <button mat-button color="primary" (click)="pay()">Mehet!</button>
  </mat-card-actions>
</mat-card>
